.navBar { /*consistant with all pages*/
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color:rgb(232, 232, 232);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 10px grey;
}

.navBar .button a { /*consistant with all pages*/
    padding: 20px;
    margin: auto;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* .navBarSP a { 
    padding: 20px;
    margin: auto;
    text-align: left;
    text-decoration: none;
} */

.navBar .button {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(132, 132, 132, 0.468);    
    border: none;
}

.navBar .button:hover {
    background-color: rgba(0, 0, 0, 0.514);
}

.intro {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.intro-text {
    flex: 1;
    padding: 0;
}

.intro .intro-text h1 {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.intro .intro-text p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.intro .intro-text address {
    text-align: center;
    margin-top: 60px;
}

.intro .mePic {
    flex: 1;
    padding: 20px;
}

.intro .mePic img {
    border-radius: 5%;
    width: 800px;
    object-fit:contain;
    /* object-position: left; */
    box-shadow: 0 5px 15px grey;
}

footer {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* padding: 40px; */
    margin-top: 100px;
}

.contactMe {
    font-size: 30px;
    margin-top: 80px;
    font-weight: bold;
    text-align: center;
}

.contact input{
    width: 500px;
    height: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 10px;
}

.contact input:hover,
.contact textarea:hover {
    box-shadow: 0 0 5px grey;
}

.contact textarea {
    width: 500px;
    height: 100px;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 10px;
}

.contact button {
    width: 300px;
    height: 40px;
    font-weight: bold;
    font-palette: inherit;
    background-color: rgba(132, 132, 132, 0.468);
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    color: white;
}

.contact button:hover {
    background-color: rgba(0, 0, 0, 0.514);
}

.abt p {
    font-weight: bold;
    font-size: large;
    margin: 100px;
    text-align: center;
}

.scedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
}

.scedule h1 {
    text-align: center;
    margin-bottom: 20px;
}

.scedule th,
.scedule td {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    padding: 20px 40px;
    text-align: center;
}